* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --indigo: #34497c;
  --lightblue: #4b69b1;
  --silver: #585858;
  --lightsilver: #828282;
  --orange: #fba702;
  --darkindigo: #253458;
  --black: #000;
}
body {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 1.3em;
  color: var(--lightsilver);
}
/* Top Section */
.top {
  background-color: var(--indigo);
  padding: 30px 0;
  color: #fff;
}
.logo {
  text-align: center;
}
.top p {
  margin: 0;
}
/* First Screen Section */
.first_screen {
  background-image: url(../img/top.jpg);
  /* height: calc(100vh - 110px); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 15px 0;
}
form {
  background-color: var(--lightblue);
  color: #fff;
  text-align: center;
  padding: 50px 18px;
  font-weight: bold;
  height: 606px;
}
.first_screen h2 {
  font-size: 36px;
  text-transform: uppercase;
  background-image: none;
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  margin: 0 auto 15px;
  font-weight: 700;
}
.first_screen span {
  background-color: var(--lightblue);
  display: inline-block;
  padding: 0 20px;
}
.first_screen h2 + p {
  margin-bottom: 56px;
  font-size: 1.5em;
  line-height: 1.6rem;
}
.first_screen p {
  font-size: 1.5em;
}
.band + p {
  justify-content: center;
  align-items: center;
  height: 100px;
  line-height: 1.6rem;
  display: none;
}

input,
button {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  padding: 0 24px;
  background-color: var(--indigo);
  color: #fff;
}
button {
  background-color: var(--darkindigo);
}
input[type="email"] {
  margin-bottom: 37px;
}
button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  font-size: 24px;
  letter-spacing: 1px;

  width: max-content;
  margin-top: 15px;
}
input:focus {
  color: #fff;
  background-color: var(--darkindigo);
}
.band {
  background-image: url(../img/lenta.png);
  height: 117px;
  margin: 0 -29px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.band::before,
.band::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid #a86f00;
  position: absolute;
  bottom: -13px;
}
.band::before {
  border-left: 12px solid transparent;
  left: 0;
}
.band::after {
  border-right: 12px solid transparent;
  right: 0;
}

.steps {
  background-image: url(../img/bg_01.png);
}
.gallery .wrap {
  height: 203px;
}
.gallery .wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.wrap + p {
  margin: 20px 25px;
  padding: 10px 5px;
  text-align: center;
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #c4c4c4;
}
.photo_man {
  display: inline-flex;
  justify-content: center;
  margin: 42px 0 49px;
}

.testimonials {
  background-image: url(../img/testimonials_bg.jpg);
  background-position: center top;
  background-size: cover;
}
.testimonials p{
color:var(--darkindigo);
font-family: EB Garamond;
font-size: 30px;
font-style: italic;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
padding:0 15px;

}
.testimonials p::after{
  display: block;
  content: "";
  height: 4px;
  width: 138px;
  background-color:var(--darkindigo);
  margin:0 auto;
  margin-top:30px; 
}
.testimonials h2{
  font-family: EB Garamond;
font-size: 30px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0em;
text-align: center;
text-transform: uppercase;
color:var(--darkindigo);
margin-bottom:50px;
}
.subscribe {
  background-color: var(--orange);
}
.footer {
  background-color: var(--black);
}
.video_section{
  display: none;
}
@media screen and (min-width: 314px) {
  form {
    height: 645px;
  }
  .band + p {
    display: flex;
  }
  .step h3 + p {
    text-align: center;
    margin: 19px 24px;
    padding: 10px 0 15px 0;
  }
}
@media screen and (min-width: 414px){
  .video_section{
    display: block;
  }
  .video-list{
   
    margin: 56px auto;
  }
}
@media screen and (min-width: 576px) {
  form {
    padding: 50px 18px;
  }
  .band + p {
    height: 110px;
  }
  .first_screen h2 + p {
    width: 76%;
    margin: 0 auto 40px;
    line-height: 1.6rem;
  }

  .first_screen h2 {
    background-image: none;
  }
  .band {
    margin: 0 -29px;
  }
  form h2 span::after {
    content: "";
  }
  button {
    width: 77%;
  }
  .gallery img {
    width: 100%;
  }
  
}

@media screen and (min-width: 768px){
  .logo {
    text-align: left;
  }
  .first_screen h2 + p {
    width: 100%;
  }
  .band + p {
    height: 136px;
    width: 76%;
    margin: 0 auto;
  }

  .first_screen {
    padding: 70px 0;
  }
  form {
    padding: 50px 30px;
  }
  .band {
    margin: 0 -42px;
  }
  form h2 span::after {
    content: " Course";
  }
  .first_screen h2 {
    font-size: 36px;
    text-transform: uppercase;
    background-image: url(../img/line.svg);
    background-repeat: repeat-x;
    background-position: center;
    width: 100%;
    margin: 0 auto 15px;
    font-weight: 700;
  }
  .wrap + p {
    margin: 25px;
    padding: 10px;
  }
  .testimonials p{
    padding:0;
  }
  .testimonials p::after{
    
    width: 216px;
}
.testimonials h2{
  margin: 20px 0 38px;
}
.video_col{
  width: 100%;
}
.video_section .row:nth-child(2) {
  margin: 0px;
}

}
@media screen and (min-width: 1200px) {
  .wrap + p {
    margin: 25px 9px 50px;
    padding: 0px;
  }
  .order {
    order: 2;
  }
  .photo_man{
    margin-top:68px;
  }
  .testimonials h2{
    margin: 25px 0 80px;
  }
  .video_col{
    width: 55%;
  }
  .video_section .row{
    margin: 0px 0 54px;
  }
  .video-list{
    margin:0;
  }
}
@media screen and (min-width: 1440px) {
  .first_screen {
    background-size: 125%;
  }
  form {
    padding: 50px 73px;
  }
  .band {
    margin: 0 -85px;
  }
  .band + p {
    height: 124px;
    width: 100%;
    margin: 0 auto;
  }
  .step h3 + p {
    padding: 0 20px;
    margin: 0 0 40px 0;
  }
 
}

.steps .row h2,
.gallery .row h2, .video_section .row h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  font-size: 28px;
  color: var(--indigo);
  margin-top: 53px;
  text-align: center;
}
.steps .row h2 + p,
.gallery .row h2 + p, .video_section .row h2 + p {
  font-family: "EB Garamond", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--silver);
  display: block;
  margin: 26px auto;
}
.step div {
  max-width: 100%;
  height: 191px;
  background-color: var(--darkindigo);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding: 0 15px;
}
.steps .row:nth-child(2) {
  justify-content: space-around;
}
.step img {
  display: block;
  justify-content: center;
  height: 107px;
  width: 107px;
}
.step div::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid var(--darkindigo);
  position: absolute;
  bottom: -15px;
}
.step h3 {
  text-align: center;
  font-family: "EB Garamond", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--darkindigo);
}


.video_section ul{
  list-style-type: none;
  color: #747171;
  padding:0;

}
.video_section i{
  margin-right: 20px;
  font-size: 14px;
}
.video_section ul li{
  padding: 8px;
  font-size:18px;
}
.bi-check-circle-fill{
  color:var(--darkindigo);
}
.video_section img{
  display: block;
  width: 100%;
  height: 100%;
}
